.page-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 50px;
  z-index: 100;
  color: #fff;

  h1 {
    margin-top: 20px;
  }
  @include flexH($j: space-between);
  .gnb {
    @include flexH(30);
    a {
      transition: 0.4s;
      border-bottom: 1px dotted transparent;

      &:hover,
      &.active {
        $color: map-get($primary, 600);
        color: $color;
        border-bottom: 1px dotted $color;
      }
    }
  }
}

.page-footer {
  background-color: #efefef;
  padding: 30px 0;
  text-align: center;
  color: color($text, 300);

  a {
    display: initial;
    color: color($text, 600);
    border-bottom: 1px dotted color($text, 100);
  }
}
