<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css"> 
</head>
<body> 
    <header class="page-header">
        <div class="inner"> 
            <h1>
                <a href="/">
                    <img src="/images/sass.svg" alt="home">
                </a>
            </h1>
    
            <nav class="page-nav">
                <ul class="gnb">
                    <li><a href="/playground">Playground</a></li>
                    <li><a href="/install">Install</a></li>
                    <li><a href="/learn">Learn Sass</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/docs">Documentation</a></li>
                </ul>
            </nav>
        </div>
    </header>