
<%- include('./inc/_header') %>
<h1>Sass-lang in Korean</h1>
<p>Wonderfull</p>
<div class="box">
  <div class="thumb"><img src="./images/dummy1_big.jpg" /></div>
  <div class="contents">
    <h2>Title</h2>
    <p>Contents</p>
  </div>
</div>
<%- include('./inc/_footer') %>
